$green: #71ecb6;
$yellow: #fbe49e;
$yellow1: #EEEA63;
$yellow2: #EF9D53;
$black: #000;
$white: #fff;
$red: #f45d6a;
$red2:#AD2C37;
$pink: #f6646e;
$gray: #81889a;
.account-status{
    font-size: 18px;
    display: table;
    margin: 0 auto;
    ul{
        list-style: none;
        margin: 15px 0 0;
        padding: 0;
        li{
            line-height: 30px;
            text-align: center;
            &.large{
                font-size: 22px;
            }
        }
    }
}

h4{
    display: block;
    text-align: center;

}
.vendors{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
    button.vendor{
        width: 130px;
        min-width: 130px;
        height: 130px;
        background: $black;
        color: $white;
        border-radius: 50%;
        border: none;
        border: 2px dotted transparent;
        margin: 0 15px;
        background-size: cover;
        transition: 0.3s;
        outline: none;
        margin-bottom: 15px;
        &:hover{
            box-shadow: 0 5px 10px rgba(0,0,0,0.5);
            border-color: #ddd;
        }
    }
}

p{
    display: block;
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    span{
        color: $pink;
        font-weight: bold;
        cursor: text;
        &:hover{
            color: $gray;
            text-decoration: underline;
        }
    }
}