<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">
            
            <span class="hd-big">Account Status</span>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="account-status">
                        <ul>
                            <li><strong>Package Type :</strong> Package 1</li>
                            <li><strong>Total Classes : </strong> 20</li>
                            <li class="large"><strong>Remaining Classes :</strong> 5</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row p-5">
                <div class="col-12">
                    <h4>Make a Payment</h4>
                    <div class="vendors">
                        <button type="button" class="vendor" style="background: url('../../../../../../assets/img/vendor/1.jpg') center center no-repeat;"></button>
                        <button type="button" class="vendor" style="background: url('../../../../../../assets/img/vendor/2.jpg') center center no-repeat;"></button>
                        <button type="button" class="vendor" style="background: url('../../../../../../assets/img/vendor/3.png') center center no-repeat;"></button>
                        <button type="button" class="vendor" style="background: url('../../../../../../assets/img/vendor/4.png') center center no-repeat;"></button>
                    </div>
                    <p>For detailed billing, please create a ticket or email: <span>customersupport@123.com</span></p>
                </div>
            </div>

        </div>
    </div>

</div>