<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">

            <span class="hd-big">Student Profile</span>
            <div class="teacher-profile-action">
                <a href="#"><i class="fa fa-user"></i> View as Teacher</a>
                <a href="#"><i class="fa fa-edit"></i> Edit Profile</a>
            </div>
            <div class="user">
                <div class="image">
                    <img src="./assets/img/faces/100k-ai-faces-6.jpg" alt="">
                </div>
                <button>Update Image</button>
                <span>max file size specification</span>
            </div>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">

            <span class="hd-big">Information</span>
            <div class="row mb-5">
                <div class="col-8">

                    <ul>
                        <li><span>Name :</span> {{profile?.name}}</li>
                        <li><span>Email :</span> {{profile?.email}}
                        </li>
                        <!-- <li><span>Gender :</span> {{profile?.gender}} </li> -->
                        <li><span>Level :</span> {{profile?.level?.title}} </li>
                        <li><span>Age :</span> {{profile?.age}} </li>
                        <!-- <li><span>Major :</span> Marketing</li>
                        <li><span>Graduation Date :</span> 15/08/2016</li>
                        <li><span>Degree :</span> Master of Business Administration</li> -->
                    </ul>

                    <!-- <form action="" class="information">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label>Name</label>
                                <input type="text" [(ngModel)]="profile.name" name="name" class="field"
                                    placeholder="Last Name">
                            </div>


                            <div class="col-12 col-md-6">
                                <label>Email Address</label>
                                <input type="email" name="email" [(ngModel)]="profile.email" class="field"
                                    placeholder="Emaill Address">
                            </div>
                            <div class="col-12"></div>
                            <div class="col-12 col-md-6">
                                <label>Gender</label>
                                <input type="text" name="gender" [(ngModel)]="profile.gender" class="field"
                                    placeholder="Gender">
                            </div>
                            <div class="col-12"></div>
                            <div class="col-12 col-md-6">
                                <label>Age</label>
                                <input type="number" name="age" [(ngModel)]="profile.age" class="field"
                                    placeholder="Gender">
                            </div>
                        </div>
                    </form> -->

                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-10">
                    <span class="hd-big">About Me</span>
                    <p>
                        {{profile?.bio}}
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-10">
                    <span class="hd-big">Education</span>
                    <ul>
                        <li><span>Max Education :</span> {{profile?.studentEduInfo?.course || 'NA'}}</li>
                        <li><span>Institute :</span> {{profile?.studentEduInfo?.institute}}
                        </li>
                        <li><span>Year :</span> {{profile?.studentEduInfo?.year}} </li>
                        <!-- <li><span>Major :</span> Marketing</li>
                        <li><span>Graduation Date :</span> 15/08/2016</li>
                        <li><span>Degree :</span> Master of Business Administration</li> -->
                    </ul>
                </div>
            </div>
            <!-- <div class="row mb-4">
                <div class="col-12 col-md-10">
                    <span class="hd-big">Teaching Experince</span>
                    <ul>
                        <li>
                            <span>Latest Experience :</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin odio enim risus
                                dolor viverra. Dolor cras semper ullamcorper in in aliquam lectus facilisi. Quis ac enim
                                ut fames. Molestie mattis vitae faucibus ullamcorper etiam et non cras.</p>
                        </li>
                        <li>
                            <span>Oldest Experience :</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin odio enim risus
                                dolor viverra. Dolor cras semper ullamcorper in in aliquam lectus facilisi. Quis ac enim
                                ut fames. Molestie mattis vitae faucibus ullamcorper etiam et non cras.</p>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="row mb-0">
                <div class="col-12 col-md-10">
                    <span class="hd-big">My Contract</span>
                    <p>Click <a href="#" class="link">here</a> to view your current contract</p>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">

            <span class="hd-big">Parent Profile</span>
            <div class="row mb-4">
                <div class="col-8">
                    <div class="user">
                        <div class="image">
                            <img src="./assets/img/faces/Ben_Virdee-Chapman.jpg" alt="">
                        </div>
                        <button>Update Image</button>
                        <span>max file size specification</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <ul>
                        <li><span>First Last :</span> Jamal</li>
                        <li><span>Last Name :</span> Shah</li>
                        <li><span>Relation to Student :</span> Father</li>
                        <li><span>Phone number :</span> +92 300 123 4567</li>
                        <li><span>Email Address :</span> jamal.shah@gmail.com</li>
                        <li><span>Address :</span> House No. 5/II, Pak Marine Colony, Near Wagha Border, Islamabad.</li>
                        <li><span>Occupation :</span> Businessman</li>
                    </ul>
                </div>
            </div>

        </div>
    </div> -->

</div><!-- row -->