<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card border-primary rounded p-4">
            <span class="hd-big">My Payments</span>
            <div class="export-csv">
                <a href="#"><i class="fa fa-file-text"></i> Export as CSV</a>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="monthly">
                        Monthly Income
                        <span>$0.00</span>
                    </div>
                    <div class="payments">
                        <div class="card border-primary rounded p-0 ">
                            <h5 class="card-header border-bottom"><img src="../../../../../assets/img/icons/coin.png" alt=""> Class Earnings <span>$0.00</span></h5>
                            <div class="card-body">
                                <div>Core Class (Supplimentry Class) <span>$0.00</span></div>
                                <div>Trial Class <span>$0.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-12 col-md-4 mb-4">
                    <div class="monthly">&nbsp;</div>
                    <div class="payments">
                        <div class="card border-primary rounded p-0 ">
                            <h5 class="card-header border-bottom"><img src="../../../../../assets/img/icons/badge.png" alt=""> Bonuses <span>$0.00</span></h5>
                            <div class="card-body">
                                <div>Enrolement Bonus <span>$0.00</span></div>
                                <div>Referral Bonus <span>$0.00</span></div>
                                <div>Referral Milestone Bonus <span>$0.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="col-12 col-md-4 mb-4">
                    <div class="monthly-date">
                        <div>
                            <button><i class="fa fa-chevron-left"></i></button>
                            <span>Jun 2020</span>
                            <button><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div>
                            <span>Current Month</span>
                        </div>
                    </div>
                    <div class="payments">
                        <div class="card border-primary rounded p-0 ">
                            <h5 class="card-header border-bottom"><img src="../../../../../assets/img/icons/coin-reaload.png" alt=""> Adjustment <span>$0.00</span></h5>
                            <div class="card-body">
                                <div>Additions <span>$0.00</span></div>
                                <div>Deductions <span>$0.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card border-primary rounded p-4">
            
            <div class="earnings">Class Earning <span>$0.00</span> <a href="#" class="fa fa-info-circle"></a></div>

            <table class="earnings-table">
                <thead>
                    <tr>
                        <th>Class Date & Time</th>
                        <th>Class ID</th>
                        <th>Class Format</th>
                        <th>Lesson Status</th>
                        <th>Eval Submission</th>
                        <th>Earnings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15/07/2020</td>
                        <td>LA-108-96</td>
                        <td>Individual</td>
                        <td><span class="badge badge-warning">Pending</span></td>
                        <td>Data required</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="no-data"> No Data </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card border-primary rounded p-4">
            
            <div class="bonuses">Adjustment <span>$0.00</span> <a href="#" class="fa fa-info-circle"></a></div>
            <div class="all-bonuses">
                <div class="bonuses active">Additions <span>$0.00</span></div>
                <div class="bonuses">Deductions <span>$0.00</span></div>
                <!--div class="bonuses">Referral Milestone Bonuses <span>$0.00</span></div-->
            </div>

            <table class="earnings-table">
                <thead>
                    <tr>
                        <th>Enrolement Date & Time</th>
                        <th>Class Date & Time</th>
                        <th>Student Name</th>
                        <th>Earnings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15/07/2020</td>
                        <td>03/08/2020</td>
                        <td>Shabir Ahmed Shaikh</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="no-data"> No Data </td>
                    </tr>
                </tbody>
            </table>

            <div class="payment-account">
                <span class="heading" (click)="onClickMe()">Payment Account</span>
                <div>
                    <ul>
                        <li><span>Paypal Account : </span> 123_ABC@gmail.com</li>
                        <li><span>Bank Information : </span> N/A</li>
                    </ul>
                    <button>Update Payment Account</button>
                </div>
            </div>


        </div>
    </div>

</div>