<div class="row">

    <div class="col-lg-10 col-md-10 col-sm-12 m-0 pl-2 pr-2">
        <div class="card border-primary rounded p-4">
           
            <span class="hd-big">Tickets</span>

            <div class="issues">
                <span class="hd">Issues <i class="star">*</i></span>
                <div class="all-issues">
                    <span>Contract Renewal</span>
                    <span>Contract Under Review</span>
                    <span>Soft/Medium Cancellation Button</span>
                    <span>The Change Finish Type Button</span>
                    <span>Suggestion for Parents</span>
                    <span>Tocken Center 2.0</span>
                </div>

                <div class="issues-category">
                    <select name="" id="">
                        <option value="0" selected>Category I</option>
                        <option value="1" selected>Category II</option>
                        <option value="2" selected>Category II</option>
                        <option value="3" selected>Category IV</option>
                        <option value="4" selected>Category V</option>
                    </select>
                </div>

                <span class="hd">Topic <i class="star">*</i></span>
                <div class="topic">
                    <input type="text" placeholder="Please enter your Topic here">
                </div>

                <span class="hd">Description <i class="star">*</i></span>
                <div class="desc">
                    <p><strong>Notice: </strong> To help us resolve the ticket as quickly as possible, please provide any relevent details such as scheduled classes data/time (in Beijing Time), student name, support documents, screenshots, or videos of the issue in question.</p>
                    <textarea name="" id="" placeholder="Please explain"></textarea>
                    <input type="file" placeholder="Upload">
                    <em>File Size <i class="fa fa-angle-left"></i> 20MB</em>

                    <button type="submit">Submit</button>
                </div>

            </div>            

    </div>    
</div>
