<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">

            <span class="hd-big">Teacher Reviews</span>
            <div class="teacher-profile-action">
                <a href="#"><i class="fa fa-user"></i> Viewing as Teacher</a>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="user">
                        <div class="image">
                            <img src="./assets/img/faces/100k-ai-faces-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <span class="hd-big">Information</span>
            <div class="row mb-5">
                <div class="col-8">
                    <ul>
                        <li><span>First Last :</span> Abdullah</li>
                        <li><span>Last Name :</span> Shah</li>
                        <li><span>Country :</span> Pakistan</li>
                        <li><span>Initial Placement :</span> Level 1</li>
                        <li><span>Current Level :</span> Level 5</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10">
                    <span class="hd-big">Teacher Feedback</span>
                    <div class="teacher-feedback">
                        <ul>
                            <li><span>Major Course :</span> 4S LEVEL3-C5-L10</li>
                            <li><span>Teacher :</span> Emma</li>
                            <li><span>Improve :</span> Reading of words "Apple", "Banana", "Orange" and other fruits</li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Major Course :</span> 4S LEVEL3-C5-L11</li>
                            <li><span>Teacher :</span> Sasha</li>
                            <li><span>Improve :</span> Reading of words "Apple", "Banana", "Orange" and other fruits</li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Major Course :</span> 4S LEVEL3-C5-L11</li>
                            <li><span>Teacher :</span> Sasha</li>
                            <li><span>Improve :</span> Reading of words "Apple", "Banana", "Orange" and other fruits</li>
                            <li>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div><!-- row -->