<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 m-0 pl-2 pr-2">
        <div class="card p-4 border-primary rounded">
            <span class="hd-big">Teacher Profile</span>
            <div class="student-profile-action">
                <a href="#"><i class="fa fa-vcard-o"></i> Student View</a>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="user">
                        <div class="image">
                            <img src="./assets/img/faces/100k-ai-faces-6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-8">
                    <span class="hd-big">Information</span>
                    <ul>
                        <li><span>First Name :</span> Abdullah Jan</li>
                        <li><span>Country :</span> Pakistan</li>
                        <li><span>Zone :</span> Karachi, South</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-10">
                    <span class="hd-big">Education</span>
                    <ul>
                        <li>Highest Level of Education</li>
                        <li>TESL Certified</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-10">
                    <span class="hd-big">About Me</span>
                    <p>Hello VIPKID Parents! I am SO excited to meet and begin teaching your children! I have years of experience teaching kids English! I've worked at a well known tutoring center in North America known as Kumon Learning Center. Here I taught English and Math to young and older kids. I have a total of 10 years of experience working with children at summer camps, daycares and tutoring centers.</p>
                    <p>think it is incredible that you want your child to learn the language of the world,English! This will increase their confidence and make them more ambitious for their future. My number one priority while teaching with VIPKID is to ensure your child is receiving the best English skills possible while also having lots of fun!</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-8">
                    <span class="hd-big">5 Years Teaching Experience</span>
                    <div class="students-stats">
                        <div>
                            <img src="./assets/img/icons/icon-total-days-taught.svg" alt="">
                            <span>Total Days Taught</span>
                        </div>
                        <div>
                            <img src="./assets/img/icons/icon-total-classes-taught.svg" alt="">
                            <span>Total Classes Taught</span>
                        </div>
                        <div>
                            <img src="./assets/img/icons/icon-total-students-taught.svg" alt="">
                            <span>Total Students Taught</span>
                        </div>
                        <div>
                            <img src="./assets/img/icons/icon-overall-teacher-rating.svg" alt="">
                            <span>Overall Teacher Rating</span>
                        </div>
                        <div>
                            <img src="./assets/img/icons/icon-total-student-conversions.svg" alt="">
                            <span>Total Student Conversions</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-8">
                    <span class="hd-big">Parent Feedback</span>
                    <div class="parents-feedback">
                        <div class="star">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>3/5 Average</span>
                    </div>

                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <span class="hd-big">Top 3 Reviews</span>
                    <div class="reviews">
                        <div class="star">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>This Teacher is a regular for my child, she encourages him to read and write in proper English.</p>
                        <div class="links">
                            <a href="#">Supportive</a>
                            <a href="#">Patient</a>
                            <a href="#">Attentive</a>
                        </div>
                    </div>
                    <div class="reviews">
                        <div class="star">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>This Teacher is a regular for my child, she encourages him to read and write in proper English.</p>
                        <div class="links">
                            <a href="#">Supportive</a>
                            <a href="#">Patient</a>
                            <a href="#">Attentive</a>
                        </div>
                    </div>
                    <div class="reviews">
                        <div class="star">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>This Teacher is a regular for my child, she encourages him to read and write in proper English.</p>
                        <div class="links">
                            <a href="#">Supportive</a>
                            <a href="#">Patient</a>
                            <a href="#">Attentive</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="pagging">
                        <a href="#" class="view-all">View All Reviews</a>
                        <ul>
                            <li class="active"><a href="#"><i class="fa fa-angle-double-left"></i> Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">Next <i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
